= form_for @qualification, html: {class: "form-horizontal", id: "qualification-form"} do |f|
  %div.form-group
    = f.label :name, t('qualifications.index.name'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :name, class: "form-control", required: true

  %div.form-group
    = f.label :status, t('qualifications.index.status'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.select :status, Qualification.statuses, {}, {class: "form-control"}

  %div.form-group
    = f.label :user_id, t('qualifications.index.user'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = collection_select(:qualification, :user_id, User.all, :id, :email, {prompt: true}, {class: "form-control", required: true})

  %div.form-group
    = f.label :from_date, t('qualifications.index.from_date'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :from_date, class: "form-control datepicker", readonly: true

  %div.form-group
    = f.label :to_date, t('qualifications.index.to_date'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :to_date, class: "form-control datepicker", readonly: true

  %div.form-group
    %div.col-sm-offset-2.col-sm-4
      = button_to t('save'), @qualification, class: "btn btn-primary"
      = link_to t('cancel'), qualifications_path, class: "btn btn-default"