%tr
  %td
    = qualification.name
  %td
    = qualification.user.full_name if !qualification.user.nil?
  %td
    = qualification.status
  %td
    = qualification.from_date.strftime("%Y-%m-%d") if !qualification.from_date.nil?
  %td
    = qualification.to_date.strftime("%Y-%m-%d") if !qualification.to_date.nil?
  %td
    = link_to edit_qualification_path(qualification) do
      %span.glyphicon.glyphicon-edit
    = link_to qualification, method: :delete, data: { confirm: t('qualifications.index.delete_confirm') } do
      %span.glyphicon.glyphicon-trash