%h3
  = t('.title')
= link_to t('.create'), new_qualification_path, class: "btn btn-info new-item"

%table.table.table-bordered.table-striped.responsive.no-wrap#qualifications-table{"data-source" => qualifications_path(format: "json")}
  %thead
    %tr
      %th
        = t('.name')
      %th
        = t('.assigned_to')
      %th
        = t('.status')
      %th
        = t('.from_date')
      %th
        = t('.to_date')
      %th
        = t('.actions')