= form_for @user, html: {class: "form-horizontal", id: "user-form"} do |f|
  %div.form-group
    = f.label :email, t('users.index.email'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.email_field :email, class: "form-control", required: true

  %div.form-group
    = f.label :password, t('users.index.password'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.password_field :password, class: "form-control"

  %div.form-group
    = f.label :password_confirmation, t('users.index.password_confirmation'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.password_field :password_confirmation, class: "form-control"
      %span=change_pass_label
      =hidden_field_tag "user[change_password]", 0
      =change_pass_check

  %div.form-group
    = f.label :first_name, t('users.index.first_name'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :first_name, class: "form-control", required: true

  %div.form-group
    = f.label :sur_name, t('users.index.sur_name'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :sur_name, class: "form-control", required: true

  %div.form-group
    = f.label :location_id, t('users.index.location'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = collection_select(:user, :location_id, Location.all, :id, :name, {prompt: true}, {class: "form-control"})

  %div.form-group
    = f.label :team_id, t('users.index.team'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = collection_select(:user, :team_id, Team.all, :id, :name, {prompt: true}, {class: "form-control"})

  %div.form-group
    = f.label :rank_id, t('users.index.rank'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = collection_select(:user, :rank_id, Rank.all, :id, :name, {prompt: true}, {class: "form-control"})

  %div.form-group
    = f.label :roles, t('users.index.role'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.select :roles, Role.roles, {selected: @user_service.get_role_selected(@user)}, {class: "form-control"}

  %div.form-group
    = f.label :status, t('users.index.status'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.select :status, User.statuses, {}, {class: "form-control"}

  %div.form-group
    = f.label :skill_set, t('users.index.skill_set'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.select :skill_set, User.skill_set_types, {}, {class: "form-control", id: "skill-set-select"}
      %span#skill-set-notice
        = t('users.edit.custom_skill')

  %div.form-group
    %div.col-sm-offset-2.col-sm-4
      = button_to t('save'), @user, {class: "btn btn-primary", id: "submit-btn-edit-user"}
      = link_to t('cancel'), users_path, class: "btn btn-default"