%tr
  %td
    = user.email
  %td
    = user.team.name if !user.team.nil?
  %td
    = user.location.name if !user.location.nil?
  %td
    = link_to edit_user_path(user) do
      %span.glyphicon.glyphicon-edit
    = link_to user, method: :delete, data: { confirm: t('users.index.delete_confirm') } do
      %span.glyphicon.glyphicon-trash