%h3
  = t('.title')
= link_to t('.create'), new_user_path, class: "btn btn-danger new-item"

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
        = t('.email')
      %th
        = t('.actions')
  %tbody
    = render @users

%div.digg_pagination
  = will_paginate @users