%h3
  = t('.title')
= link_to t('.create'), new_user_path, class: "btn btn-danger new-item"

%table.table.table-bordered.table-striped.responsive.no-wrap#users-table{"data-source" => users_path(format: "json")}
  %thead
    %tr
      %th
        = t('.email')
      %th
        = t('.full_name')
      %th
        = t('.team')
      %th
        = t('.location')
      %th
        = t('.actions')