.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
  .panel.panel-info
    .panel-heading
      .panel-title
        = t('devise.sessions.title')
    .panel-body
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal"}) do |f|
        .input-group.space-below
          %span.input-group-addon
            %i.glyphicon.glyphicon-user
          = f.email_field :email, autofocus: true, class: "form-control", placeholder: "email"
        .input-group.space-below
          %span.input-group-addon
            %i.glyphicon.glyphicon-lock
          = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password"
        - if devise_mapping.rememberable?
          .input-group
            %label
              = f.check_box :remember_me
              = t('devise.sessions.remember_me')
        .form-group{:style => "margin-top:10px"}
          .col-sm-12.controls
            = f.submit t('devise.sessions.log_in'), class: "btn btn-success"
        .form-group
          .col-md-12.control
            .devise-links
              = render "devise/shared/links"
