= form_for @location, html: {class: "form-horizontal", id: "location-form"} do |f|
  %div.form-group
    = f.label :name, class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :name, class: "form-control"

  %div.form-group
    = f.label :latitude, class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :latitude, class: "form-control"

  %div.form-group
    = f.label :longitude, class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :longitude, class: "form-control"

  %div.form-group
    %div.col-sm-offset-2.col-sm-4
      = button_to 'Save', @article, class: "btn btn-primary"
      = link_to 'Cancel', locations_path, class: "btn btn-default"