= form_for @location, html: {class: "form-horizontal", id: "location-form"} do |f|
  %div.form-group
    = f.label :name, t('locations.index.name'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :name, class: "form-control", required: true
      %div{style: "margin-top: 20px"}
        %div{:style => "width: 800px;"}
        #geolocation{:style => "width: 800px; height: 400px;"}

  %div.form-group
    = f.label :latitude, t('locations.index.latitude'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :latitude, class: "form-control", required: true

  %div.form-group
    = f.label :longitude, t('locations.index.longitude'), class: "col-sm-2 control-label"
    %div.col-sm-4
      = f.text_field :longitude, class: "form-control", required: true

  %div.form-group
    %div.col-sm-offset-2.col-sm-4
      = button_to t('save'), @article, class: "btn btn-primary"
      = link_to t('cancel'), locations_path, class: "btn btn-default"