%h3
  = t('.title')
= link_to t('.new_location'), new_location_path, class: "btn btn-danger new-item"

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
        = t('.name')
      %th
        = t('.latitude')
      %th
        = t('.longitude')
      %th
        = t('.actions')
  %tbody
    = render @locations