%h3
  = t('.title')
= link_to t('.create'), new_location_path, class: "btn btn-info new-item"

%table.table.table-bordered.table-striped.responsive.no-wrap#locations-table{"data-source" => locations_path(format: "json")}
  %thead
    %tr
      %th
        = t('.name')
      %th
        = t('.latitude')
      %th
        = t('.longitude')
      %th
        = t('.actions')
  %tbody