<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%# i18n-js include %>
  <%= javascript_include_tag "i18n" %>
  <%= javascript_include_tag "translations" %>
  <%# i18n-js setting %>
  <%= javascript_tag do %>
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Skills Management</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg">
                    <%= render_menu_item(locations_path, t('locations.index.title')) %>
                    <%= render_menu_item(skill_categories_path, t('skills.index.title')) %>
                    <%= render_menu_item(teams_path, t('teams.index.title')) %>
                    <%= render_menu_item(roles_path, t('roles.index.title')) %>
                    <%= render_menu_item(users_path, t('users.index.title')) %>
                    <%= render_menu_item(qualifications_path, t('qualifications.index.title')) %>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                  <% if user_signed_in? %>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_user.email %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                              <%= link_to t('logout'), destroy_user_session_path, :method => :delete %>
                            </li>
                        </ul>
                    </li>
                  <% end %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
      <div class="no-padding">
        <% if notice %>
        <p class="alert alert-info notice"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <div class="hidden-xs col-md-2 col-sm-2">
          <%= render "layouts/menu" %>
        </div>
        <div class="col-md-10 col-sm-10">
          <%= yield %>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container text-center">
            @Copyright 2015
        </div>
    </nav>
</body>
</html>
