<!DOCTYPE html>
<html>
<head>
  <title>Skills Management</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.validate.min', 'additional-methods.min' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Skills Management</a>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_user.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                          <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
                        </li>
                    </ul>
                </li>
              <% end %>
            </ul>
        </div>
    </nav>
    <div class="container">
      <% if notice %>
        <p class="alert alert-info notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container text-center">
            @Copyright 2015
        </div>
    </nav>
</body>
</html>
